<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.KeyAllocationLogMapper">

    <insert id="addAllocationLog">
        insert into t_key_allocation_log (assigned_name,assigned_num)
        values (#{assignedName},#{assignedNum});
    </insert>

    <select id="getAllocationLog" resultType="com.qtec.unicom.pojo.KeyAllocationLog">
        select * from t_key_allocation_log
        where binary assigned_name = #{assignedName}
        and canceled = false
        order by create_time desc
    </select>

</mapper>