<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.KeyLimitMapper">

    <select id="getKeyLimit" resultType="Long">
        select limit_num from t_key_limit
        where binary user_name = #{userName}
    </select>

    <insert id="addKeyLimit">
        insert into t_key_limit (user_name,user_type,limit_num)
        values (#{userName},#{userType},#{limitNum});
    </insert>

    <select id="existKeyLimit" resultType="boolean">
        select count(1) from t_key_limit
        where binary user_name = #{userName}
    </select>

    <update id="updateKeyLimit">
        update t_key_limit set limit_num = #{limitNum}
        where binary user_name = #{userName}
        and user_type = #{userType}
    </update>

    <delete id="deleteKeyLimit">
        delete from t_key_limit
        where binary user_name = #{userName}
        and user_type = #{userType}
    </delete>

</mapper>