<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.KeyOfflineMapper">
    
    <insert id="addOffKey">
        insert into t_key_offline (key_id,key_value)
        values (#{keyId},#{keyValue});
    </insert>
    
    
    <select id="getOffKey" resultType="com.unicom.quantum.pojo.KeyOffline">
        select * from t_key_offline
        where id between #{start} and #{end}
    </select>

    <select id="countOfflineKeyNum" resultType="java.lang.Long">
        select count(1)
        from t_key_offline
    </select>
</mapper>