<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.RoleDeviceUserMapper">

    <!--添加角色授权用户-->
    <insert id="addRoleDeviceUser">
        insert into t_role_device_user (role_id,device_id)
        values (#{roleId},#{deviceId});
    </insert>

    <!--判断角色用户是否已添加-->
    <select id="existAddRoleDeviceUser" resultType="boolean">
        select count(*)
        from t_role_device_user
        where device_id = #{deviceId}
        and role_id = #{roleId};
    </select>

    <!--取消角色授权用户-->
    <delete id="deleteRoleDeviceUser">
        delete from t_role_device_user
        where id in
        <foreach collection="ids" index="index" open="(" close=")" item="id" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--获取角色已授权用户-->
    <select id="roleDeviceUserList" resultType="com.cucc.unicom.pojo.DTO.RoleDeviceUserInfo">
        select b.id,a.device_id,a.device_name,a.comments,b.create_time
        from t_device_user a ,t_role_device_user b
        where b.role_id = #{roleId}
        and b.device_id = a.device_id
        order by b.create_time desc
    </select>

</mapper>