<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.LoginMapper">

    <select id="deviceUserLogin" resultType="com.unicom.quantum.pojo.DeviceUser">
        select * from t_device_user
        where binary device_name = #{deviceName}
    </select>

    <select id="appLogin" resultType="com.unicom.quantum.pojo.App">
        select * from t_app
        where binary app_key = #{appKey}
    </select>

</mapper>