<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.AppConfigConfigMapper">

    <insert id="addAppConfig">
        insert into t_app_config (app_id,enc_port,enc_type,enc_freq,start_index,end_index)
        values (#{appId},#{encPort},#{encType},#{encFreq},#{startIndex},#{endIndex})
    </insert>

    <delete id="delAppConfig">
        delete from t_app_config
        where app_id = #{appId}
    </delete>

    <select id="appConfigExist" resultType="boolean">
        select count(1) from t_app_config
        where app_id = #{appId}
    </select>
    
    <select id="getAppConfig" resultType="com.unicom.quantum.pojo.AppConfig">
        select * from t_app_config a, t_app_device b
        where a.app_id = b.app_id
        and b.device_id = #{deviceId}
    </select>

    <select id="getAppConfigByAppId" resultType="com.unicom.quantum.pojo.AppConfig">
        select * from t_app_config
        where app_id = #{appId}
    </select>

    <update id="updateAppConfig" parameterType="com.unicom.quantum.controller.vo.UpdateAppConfigRequest">
        update t_app_config
        set enc_port = #{encPort},
        enc_type = #{encType},
        enc_freq = #{encFreq},
        start_index = #{startIndex},
        end_index = #{endIndex},
        version = version+1,
        update_time = now()
        where app_id = #{appId}
    </update>



    <insert id="addQemsOperation">
        insert into t_device_operation (device_name,operation)
        values (#{deviceName},#{operation})
    </insert>

    <select id="countQemsOperation" resultType="int">
        select count(*) from t_device_operation
        where device_name = #{deviceName}
    </select>

    <select id="getOperation" resultType="com.unicom.quantum.pojo.DeviceOperation">
        select * from t_device_operation
        where device_name = #{deviceName}
    </select>


    <delete id="delQemsOperation">
        delete from t_device_operation
        where device_name = #{deviceName}
    </delete>
    

</mapper>