<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.AppDeviceMapper">

    <insert id="addAppDevice">
        insert into t_app_device (app_id,device_id) values (#{appId},#{deviceId})
    </insert>

    <select id="appDeviceExist" resultType="boolean">
        select count(1) from t_app_device
        where app_id = #{appId}
        and device_id = #{deviceId}
    </select>

    <delete id="deleteAppDevice">
        delete from t_app_device
        where app_id = #{appId}
        and device_id = #{deviceId}
    </delete>

    <select id="getAppDevice" resultType="com.cucc.unicom.pojo.dto.AppDeviceDTO">
        select *
        from t_app_device a, t_device_user b
        where a.device_id = b.device_id
        and a.app_id = #{appId}
    </select>

    <select id="getDeviceName" resultType="String">
        select device_name from t_device_user
        where device_id = #{deviceId}
    </select>

    <insert id="addDeviceToDeviceStatus">
        insert into t_device_status (device_name)
        values (#{deviceName})
    </insert>

    <select id="deviceStatusInfoExist" resultType="boolean">
        select count(1) from t_device_status
        where device_name = #{deviceName}
    </select>
            

</mapper>