<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.UserAppMapper">

    <insert id="addUserApp">
        insert into t_user_app (app_id,user_id) values (#{appId},#{userId})
    </insert>
    
    <select id="userAppExist" resultType="boolean">
        select count(1) from t_user_app
        where app_id = #{appId}
        and user_id = #{userId}
    </select>

    <delete id="deleteUserApp">
        delete from t_user_app
        where app_id = #{appId}
        and user_id = #{userId}
    </delete>

    <select id="getCurrentAppManager" resultType="com.cucc.unicom.pojo.dto.CurrentAppManager">
        select a.user_id,b.user_name,b.comments,a.create_time
        from t_user_app a, t_user b
        where a.app_id = #{appId}
        and a.user_id = b.id
    </select>

    <select id="getCurrentManagerApp" resultType="com.cucc.unicom.pojo.App">
        select * from t_user_app a, t_app b
        where a.user_id = #{userId}
        and a.app_id = b.app_id
    </select>

    <delete id="deleteUserByAppId">
        delete from t_user_app
        where app_id = #{appId}
    </delete>

</mapper>