<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.MailLogMapper">
    
    <insert id="insertMailLog">
        insert into t_mail_log (destination,detail,mail_status)
        values (#{destination},#{detail},#{mailStatus});
    </insert>

    <select id="getMailLogs" resultType="com.qtec.unicom.pojo.MailLog">
        select *
        from t_mail_log
        order by update_time desc
    </select>

</mapper>