<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.OperateLogMapper">
    <cache/>

    <sql id="OPERATE_LOG_COLUMN">
        id,update_time,operator,operate_model,detail,operate_ip,operate_status,exec_time
    </sql>

    <insert id="insertOperateLog" parameterType="OperateLog">
        insert into t_operate_log (operator,operate_model,detail,operate_ip,operate_status,exec_time)
        values(#{operator},#{operateModel},#{detail}, #{operateIp},#{operateStatus},#{execTime})
    </insert>
    <select id="getOperateLogs" parameterType="com.unicom.quantum.controller.vo.OperateLogRequest" resultType="com.unicom.quantum.pojo.OperateLog">
        SELECT
        <include refid="OPERATE_LOG_COLUMN"/>
        FROM t_operate_log
        <where>
            <if test="operator != null and operator != ''">
                operator= #{operator}
            </if>
            <if test="operateModel != null and operateModel != ''">
                AND operate_model= #{operateModel}
            </if>
            <if test="detail != null and detail != ''">
                AND detail = #{detail}
            </if>
            <if test="startTime != null">
                AND update_time <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime != null">
                AND update_time <![CDATA[<= ]]> #{endTime}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getOperator" resultType="String">
        select distinct operator
        from t_operate_log
    </select>

    <select id="getOperateModel" resultType="String">
        select distinct operate_model
        from t_operate_log
        <where>
            <if test="operator != null and operator != ''">
                operator= #{operator}
            </if>
        </where>
    </select>

    <select id="getOperateDetail" resultType="String">
        select distinct detail
        from t_operate_log
        <where>
            <if test="operator != null and operator != ''">
                operator= #{operator}
            </if>
            <if test="operateModel != null and operateModel != ''">
                AND operate_model= #{operateModel}
            </if>
        </where>
    </select>

</mapper>




