<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.EncryptionContextMapper">
    <resultMap id="EncryptionContextResult" type="com.qtec.unicom.pojo.EncryptionContext">
        <result property="keyId" column="key_id"/>
        <result property="keyVersionId" column="key_version_id"/>
        <result property="keyHash" column="key_hash"/>
    </resultMap>
    <sql id="MAIN_COLUMN">
        key_id,key_version_id,key_hash
    </sql>
    <select id="getEncryptionContext" resultMap="EncryptionContextResult" parameterType="String">
        select <include refid="MAIN_COLUMN" /> from t_encryption_context
        where key_hash = #{keyHash}
    </select>
    <insert id="addEncryptionContext" parameterType="EncryptionContext">
        insert into t_encryption_context (key_id,key_version_id,key_hash)
             values(#{encryptionContext.keyId},#{encryptionContext.keyVersionId},#{encryptionContext.keyHash})
    </insert>
</mapper>




