@font-face {
  font-family: "iconfont"; /* Project id 2359796 */
  src: url('iconfont.woff2?t=1632794962611') format('woff2'),
       url('iconfont.woff?t=1632794962611') format('woff'),
       url('iconfont.ttf?t=1632794962611') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-rili:before {
  content: "\e6a1";
}

.icon-a-dingdanziliao:before {
  content: "\e6a4";
}

.icon-a-yijianfankuijibiji:before {
  content: "\e6b5";
}

.icon-yijianfankui:before {
  content: "\e6b6";
}

.icon-CurrencyConverter-copy:before {
  content: "\ef1d";
}

.icon-category:before {
  content: "\e747";
}

.icon-company:before {
  content: "\e748";
}

.icon-ali-clould:before {
  content: "\e743";
}

.icon-packaging:before {
  content: "\e75b";
}

.icon-packing-labeling:before {
  content: "\e75c";
}

.icon-menu1:before {
  content: "\e6ec";
}

.icon-share:before {
  content: "\e6ee";
}

.icon-seriesfinale:before {
  content: "\e6ef";
}

.icon-xitongguanli:before {
  content: "\e611";
}

.icon-xitongguanli1:before {
  content: "\e62c";
}

.icon-ziyuanjk:before {
  content: "\e654";
}

.icon-quanxianguanli:before {
  content: "\e628";
}

.icon-quanxianguanli2:before {
  content: "\e68e";
}

.icon-piliangtianjiacelve:before {
  content: "\e616";
}

.icon-menu:before {
  content: "\e60d";
}

.icon-yingyong:before {
  content: "\e768";
}

.icon-shebeifenzuguanli:before {
  content: "\e61f";
}

.icon-yingyong1:before {
  content: "\e7fb";
}

.icon-yingyong2:before {
  content: "\e7b6";
}

.icon-jiaoseguanli:before {
  content: "\e648";
}

.icon-user:before {
  content: "\e622";
}

.icon-zuzhi:before {
  content: "\e672";
}

.icon-strategy1:before {
  content: "\e68d";
}

.icon-fl-zuzhi:before {
  content: "\e62b";
}

.icon-rizhi:before {
  content: "\e600";
}

.icon-shouquanguanli:before {
  content: "\e641";
}

.icon-jiaoseguanli1:before {
  content: "\e670";
}

.icon-grouping:before {
  content: "\e62a";
}

.icon-user1:before {
  content: "\e7c3";
}

.icon-usercenter:before {
  content: "\e7b4";
}

.icon-ziyuan:before {
  content: "\eed1";
}

.icon-ziyuan1:before {
  content: "\ef0d";
}

.icon-ziyuan2:before {
  content: "\ef1c";
}

.icon-rizhi1:before {
  content: "\e65f";
}

.icon-shouquan:before {
  content: "\e74b";
}

.icon-jiaoseguanli2:before {
  content: "\e74e";
}

.icon-user2:before {
  content: "\e608";
}

.icon-tupianfenzu:before {
  content: "\e6c6";
}

.icon-layered:before {
  content: "\e69d";
}

.icon-locking:before {
  content: "\e69e";
}

.icon-eye_protection:before {
  content: "\e6a0";
}

.icon-privacy_closed:before {
  content: "\e6a5";
}

.icon-suggestion:before {
  content: "\e6e2";
}

.icon-schedule:before {
  content: "\e6e3";
}

.icon-donework:before {
  content: "\e6e9";
}

.icon-meetingover:before {
  content: "\e6eb";
}

