<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.AppStatusMapper">

    <select id="listDeviceStatusInfo" resultType="com.unicom.quantum.pojo.DeviceStatus">
        SELECT c.*,b.device_id as deviceId
        from t_app_device a
        LEFT JOIN
        t_device_user b
        ON a.device_id = b.device_id
        LEFT JOIN t_device_status c
        ON b.device_name = c.device_name
        WHERE a.app_id = #{appId}
    </select>

    <select id="getDeviceStatusInfo" resultType="com.unicom.quantum.pojo.DTO.DeviceStatusDataInfo">
        SELECT COUNT(1) as deviceNum,
        SUM(work_status) as onlineNum,
        SUM(key_num) as keyNum,
        SUM(enc_data) as encDataNum,
        SUM(dec_data) as decDataNum
        FROM t_device_status
        where device_name in
        <foreach collection="deviceNames" item="deviceName" open="(" index="index" close=")" separator=",">
            #{deviceName}
        </foreach>
    </select>

    <select id="currentAppDistributionNum" resultType="Long">
        select COUNT(limit_num) from t_key_limit
        where user_name in
        <foreach collection="deviceNames" item="deviceName" open="(" index="index" close=")" separator=",">
            #{deviceName}
        </foreach>
    </select>

    <select id="currentAppOnlineKeyNum" resultType="Long">
        select COUNT(1) from t_key_info
        where applicant in
        <foreach collection="deviceNames" item="deviceName" open="(" index="index" close=")" separator=",">
            #{deviceName}
        </foreach>
    </select>

</mapper>