<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.BrainMapper">

    <select id="getRegisterNum" resultType="Long">
        select count(1)
        from t_device_user;
    </select>

    <select id="getOnlineNum" resultType="Long">
        select sum(work_status)
        from t_device_status
    </select>

    <select id="getKeyInNum" resultType="Long">
        select count(1)
        from t_key_info
    </select>

    <select id="getKeyOutNum" resultType="Long">
        select count(key_num)
        from t_device_status
    </select>

</mapper>