<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.DeviceStatusMapper">

    <!--添加终端状态信息-->
    <insert id="addDeviceStatusInfo" parameterType="com.cucc.unicom.pojo.DeviceStatus">
        insert into t_device_status (device_name,device_ip,work_status,online_time,key_num,enc_data,dec_data,enc_rate,dec_rate)
        values (#{deviceName},#{deviceIp},#{workStatus},#{onlineTime},#{keyNum},#{encData},#{decData},#{encRate},#{decRate})
    </insert>

    <!--判断是否已经添加-->
    <select id="deviceStatusInfoExist" resultType="boolean">
        select count(1)
        from t_device_status
        where device_name = #{deviceName}
    </select>

    <!--修改密钥云终端信息-->
    <update id="updateDeviceStatusInfo" parameterType="com.cucc.unicom.pojo.DeviceStatus">
        update t_device_status
        set
            work_status = #{workStatus},
            online_time = #{onlineTime},
            device_ip = #{deviceIp},
            key_num = #{keyNum},
            enc_data = #{encData},
            dec_data = #{decData},
            enc_rate = #{encRate},
            dec_rate = #{decRate},
            update_time = now()
        where device_name = #{deviceName}
    </update>

    <!--查看密钥云终端信息-->
    <select id="listDeviceStatusInfo" resultType="com.cucc.unicom.pojo.DeviceStatus">
        select * from t_device_status
        order by create_time desc
    </select>

    <select id="getDeviceStatusInfoByDeviceName" resultType="com.cucc.unicom.pojo.DeviceStatus">
        select * from t_device_status
        where device_name = #{deviceName}
    </select>


    <!--密码态势感知数据-->
    <select id="getDeviceStatusInfo" resultType="com.cucc.unicom.pojo.DTO.DeviceStatusDataInfo">
        SELECT COUNT(1) as deviceNum,
        SUM(work_status) as onlineNum,
        SUM(key_num) as keyNum,
        SUM(enc_data) as encDataNum,
        SUM(dec_data) as decDataNum
        FROM t_device_status
    </select>

    <select id="keyDistributionNum" resultType="Long">
        SELECT SUM(limit_num)
        FROM t_key_limit
    </select>

    <select id="onlineKeyNum" resultType="Long">
        SELECT COUNT(1)
        FROM t_key_info
    </select>

    <select id="onlineEnableKeyNum" resultType="Long">
        SELECT COUNT(1)
        FROM t_key_info
        where key_status != 1
    </select>

</mapper>