<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.UserMapper">

    <resultMap id="userInfo" type="com.qtec.unicom.pojo.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="comments" column="comments"/>
        <result property="accountType" column="account_type"/>
    </resultMap>

    <sql id="userDto">
        id,user_name,password,create_time,update_time,comments,account_type
    </sql>


    <insert id="addUser" parameterType="com.qtec.unicom.pojo.User">
        insert into t_user (user_name,password,email,comments,account_type)
        values (#{userName},#{password},#{email},#{comments},#{accountType})
    </insert>

    <select id="userExist" resultType="boolean">
        select count(1)
        from t_user
        where binary user_name = #{userName}
    </select>

    <update id="updateUser" parameterType="com.qtec.unicom.pojo.User">
        update t_user
        <set>
            <if test="userName != null and !&quot;&quot;.equals(userName.trim())">
                user_name = #{userName},
            </if>
            <if test="password != null and !&quot;&quot;.equals(password.trim())">
                password = #{password},
            </if>
            <if test="email != null and !&quot;&quot;.equals(email.trim())">
                email = #{email},
            </if>
            <if test="comments != null and !&quot;&quot;.equals(comments.trim())">
                comments = #{comments},
            </if>
            update_time = now()
        </set>
        where id = #{id};
    </update>

    <delete id="deleteUser">
        delete from t_user
        where id = #{id};
    </delete>

    <select id="getUserInfos" resultMap="userInfo">
        select *
        from t_user
        where 1=1
        <if test="userName != null and !&quot;&quot;.equals(userName.trim())">
            AND user_name like concat('%',#{userName},'%')
        </if>
        order by create_time desc
    </select>


</mapper>