<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.GroupAuthMapper">

    <insert id="addGroupAuth">
        insert into t_group_auth (group_id,api_id)
        values (#{groupId},#{apiId})
    </insert>

    <select id="existGroupAuth" resultType="boolean">
        select count(1)
        from t_group_auth
        where group_id = #{groupId}
        and api_id = #{apiId}
    </select>

    <delete id="deleteGroupAuthByGroupId">
        delete from
        t_group_auth
        where group_id = #{groupId}
    </delete>

    <delete id="deleteGroupAuthById">
        delete from
        t_group_auth
        where id = #{groupAuthId}
    </delete>

    <select id="getGroupAuth" resultType="com.cucc.unicom.pojo.DTO.GroupAuthInfo">
        SELECT a.id as groupAuthId,
        a.group_id as groupId,
        b.group_name as groupName,
        b.group_code as groupCode,
        a.api_id as apiId,
        c.api_name as apiName,
        a.create_time as createTime,
        a.update_time as updateTime
        from t_group_auth a
        LEFT JOIN t_group b
        ON a.group_id = b.group_id
        LEFT JOIN t_api_resource c
        on a.api_id = c.api_id
        where a.group_id = #{groupId}
    </select>

    <select id="getApiName" resultType="String">
        select api_name from t_api_resource
        where api_id = #{apiId}
    </select>

</mapper>