<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.GroupUserMapper">

    <!--添加分组成员-->
    <insert id="addGroupUser">
        insert into t_group_user (device_id,group_id)
        values (#{deviceId},#{groupId});
    </insert>

    <!--判断成员是否已添加-->
    <select id="groupUserExist" resultType="int">
        select count(*)
        from t_group_user
        where device_id = #{deviceId}
        and group_id = #{groupId};
    </select>

    <!--删除成员-->
    <delete id="deleteGroupUser">
        delete from t_group_user
        where device_id = #{deviceId}
        and group_id = #{groupId};
    </delete>

    <!--展示该分组所有成员-->
    <select id="groupUserList" resultType="com.cucc.unicom.pojo.DTO.GroupUserDTO">
        select *
        from t_device_user a ,t_group_user b
        where b.group_id = #{groupId}
        and b.device_id = a.device_id
        order by b.update_time desc
    </select>


</mapper>