<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.GroupAppUserMapper">

    <!--添加分组成员-->
    <insert id="addGroupAppUser">
        insert into t_group_app_user (group_id,app_user_id)
        values (#{groupId},#{appUserId});
    </insert>

    <!--判断成员是否已添加-->
    <select id="existAddGroupAppUser" resultType="boolean">
        select count(*)
        from t_group_app_user
        where app_user_id = #{appUserId}
        and group_id = #{groupId};
    </select>

    <!--删除成员-->
    <delete id="deleteGroupAppUser">
        delete from t_group_app_user
        where id in
        <foreach collection="ids" item="id" open="(" index="index" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--展示该分组所有成员-->
    <select id="groupAppUserList" resultType="com.cucc.unicom.pojo.DTO.GroupAppUserInfo">
        select b.id,a.user_id,a.user_name,a.commit_info,b.create_time
        from t_app_user a ,t_group_app_user b
        where b.group_id = #{groupId}
        and b.app_user_id = a.user_id
        order by b.update_time desc
    </select>


</mapper>