<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.DeviceAuthorityMapper">

    <insert id="addDeviceAuthority">
        insert into
        t_device_auth (device_id, api_id)
        values (#{deviceId},#{apiId})
    </insert>

    <select id="deviceAuthorityIsExist" resultType="boolean">
        select count(*)
        from t_device_auth
        where device_id = #{deviceId}
        and api_id = #{apiId}
    </select>

    <delete id="delDeviceAuthority">
        delete from t_device_auth
        where auth_id = #{authId}
    </delete>

    <delete id="delDeviceAuthByDeviceId">
        delete from t_device_auth
        where device_id = #{deviceId}
    </delete>

    <select id="getDeviceAuthority" resultType="com.unicom.quantum.pojo.DTO.AuthInfo">
        select a.auth_id,
                b.*
        from t_device_auth a,t_api_resource b
        where a.device_id = #{deviceId}
        and a.api_id = b.api_id
        order by a.auth_id asc
    </select>

    <select id="getApiName" resultType="String">
        select api_name from t_api_resource
        where api_id = #{apiId}
    </select>


</mapper>