<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.StrategyAuthorityMapper">
    
    <!--添加策略授权信息-->
    <insert id="addStrategyAuth">
        insert into t_strategy_auth (device_id, role_id, group_id, app_user_id, strategy_id)
        values (#{deviceId}, #{roleId}, #{groupId}, #{appUserId}, #{strategyId} )
    </insert>

    <!--判断策略是否重复授权-->
    <select id="strategyIsAdd" resultType="boolean">
        select count(*) from t_strategy_auth
        where strategy_id = #{strategyId}
        <if test="roleId != null">
            and role_id = #{roleId}
        </if>
        <if test="deviceId != null">
            and device_id = #{deviceId}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
        <if test="appUserId != null">
            and app_user_id = #{appUserId}
        </if>

    </select>

    <!--删除策略授权信息-->
    <delete id="delStrategyAuth">
        delete from t_strategy_auth
        where strategy_auth_id = #{strategyAuthId}
    </delete>

    <!--获取策略授权信息-->
    <select id="getStrategyAuthInfo" resultMap="strategyAuthInfo">
        select t1.strategy_auth_id as strategyAuthId,
        t2.strategy_name as strategyName,
        t1.device_id as deviceId,
        t1.role_id as roleId,
        t1.group_id as groupId,
        t1.app_user_id as appUserId,
        t1.create_time as createTime
        from t_strategy_auth t1, t_strategy t2
        where t2.strategy_id = t1.strategy_id
        order by t1.create_time desc
    </select>

    <resultMap id="strategyAuthInfo" type="com.qtec.unicom.pojo.DTO.StrategyAuthInfo">
        <result property="strategyAuthId" column="strategyAuthId" />
        <result property="strategyName" column="strategyName" />
        <result property="createTime" column="createTime" />
        <collection property="deviceInfo" ofType="com.qtec.unicom.pojo.DTO.DeviceInfo">
            <result property="deviceId" column="deviceId"/>
            <result property="deviceName" column="deviceName"/>
            <result property="comments" column="comments"/>
        </collection>
        <collection property="roleInfo" ofType="com.qtec.unicom.pojo.DTO.RoleInfo">
            <result property="roleId" column="roleId"/>
            <result property="roleCode" column="roleCode"/>
            <result property="roleDescribe" column="roleDescribe"/>
        </collection>
        <collection property="groupInfo" ofType="com.qtec.unicom.pojo.DTO.GroupInfo">
            <result property="groupId" column="groupId"/>
            <result property="groupCode" column="groupCode"/>
            <result property="groupName" column="groupName"/>
            <result property="groupDescribe" column="groupDescribe"/>
        </collection>
        <collection property="appUserInfo" ofType="com.qtec.unicom.pojo.DTO.AppUserInfo" select="getAppUserInfo" column="appUserId">
            <result property="appUserId" column="appUserId"/>
            <result property="appUserName" column="appUserName"/>
            <result property="comments" column="comments"/>
        </collection>
    </resultMap>

    <select id="getAppUserInfo" resultType="com.qtec.unicom.pojo.DTO.AppUserInfo">
        select user_id as appUserId,
        user_name as appUserName,
        commit_info as comments
        from t_app_user
        where user_id = #{appUserId}
    </select>


</mapper>