<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.StrategyMapper">

    <!--增加策略-->
    <insert id="addStrategy">
        insert into t_strategy (strategy_name,strategy_type,strategy_describe)
        values (#{strategyName},#{strategyType},#{strategyDescribe});
    </insert>

    <!--判断策略名称是否重复-->
    <select id="strategyNameExist" resultType="boolean">
        select count(*) from t_strategy
        where strategy_name = #{strategyName}
    </select>

    <!--删除策略-->
    <delete id="delStrategy">
        delete from t_strategy
        where strategy_id = #{strategyId}
    </delete>
    <delete id="delStrategyAuthByStrategyId">
        delete from t_strategy_auth
        where strategy_id = #{strategyId}
    </delete>
    <delete id="delStrategyActionByStrategyId">
        delete from t_strategy_action
        where strategy_id = #{strategyId}
    </delete>

    <!--修改策略信息-->
    <update id="updateStrategy">
        update t_strategy
        <set>
            <if test="strategyName!=null">
                strategy_name = #{strategyName},
            </if>
            <if test="strategyDescribe != null">
                strategy_describe=#{strategyDescribe}
            </if>
        </set>
        where strategy_id =#{strategyId}
    </update>

    <!--获取所有策略信息-->
    <select id="getStrategyList" resultType="com.cucc.unicom.pojo.Strategy">
        select * from t_strategy
        order by create_time desc
    </select>

    <!--获取指定策略详细信息-->
    <select id="getStrategyInfo" resultType="com.cucc.unicom.pojo.Strategy">
        select *
        from t_strategy
        where strategy_id =#{strategyId}
    </select>

    <!--添加策略操作-->
    <insert id="addStrategyAction">
        insert into t_strategy_action (strategy_id,api_id)
        values (#{strategyId},#{apiId})
    </insert>

    <!--判断操作是否已添加至该操作下-->
    <select id="actionExist" resultType="boolean">
        select count(*) from t_strategy_action
        where strategy_id = #{strategyId}
        and api_id = #{apiId}
    </select>

    <!--删除策略操作-->
    <delete id="delStrategyAction">
        delete from t_strategy_action
        where strategy_action_id = #{strategyActionId}
    </delete>

    <!--查询当前策略包含的操作-->
    <select id="getStrategyActionInfo" resultType="com.cucc.unicom.pojo.DTO.StrategyActionInfo">
        select strategy_action_id as strategyActionId,
        b.api_id as apiId,
        api_name as apiName,
        api_URL as apiURL,
        comments
        from t_strategy_action a, t_api_resource b
        where a.api_id = b.api_id
        and a.strategy_id = #{strategyId}
    </select>

</mapper>