<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unicom.quantum.mapper.CardDataMapper">

    <insert id="addCardData">
        insert into t_card_data(card_version,card_data,mac_addr)
        values(#{cardVersion}, #{cardData}, #{macAddr})
    </insert>

    <select id="listCardData" resultType="com.unicom.quantum.pojo.CardData">
        select card_version,card_data,mac_addr,create_time from t_card_data
        where 1=1
        <if test="macAddr != null and macAddr != '' "> 
        and  mac_addr = #{macAddr}
        </if>
        order by mac_addr,card_version desc
    </select>

    <select id="getCardData" resultType="com.unicom.quantum.pojo.CardData">
        select card_version,card_data,mac_addr,create_time
        from t_card_data
        where mac_addr = #{macAddr}
        and card_version=#{cardVersion}
    </select>

</mapper>