<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.IntercomStatusMapper">

    <select id="intercomExist" resultType="boolean">
        select count(*)
        from t_intercom_status
        where binary device_name = #{deviceName}
    </select>

    <insert id="addIntercom" parameterType="com.cucc.unicom.pojo.IntercomStatus">
        insert into t_intercom_status (device_name,device_ip,key_num)
        values (#{deviceName},#{deviceIp},#{keyNum});
    </insert>

    <update id="updateIntercom">
        update t_intercom_status
        set
            device_ip = #{deviceIp},
            key_num = key_num + #{keyNum},
            update_time = now()
        where binary device_name = #{deviceName}
    </update>

    <select id="getIntercomStatus" resultType="com.cucc.unicom.pojo.IntercomStatus">
        select * from t_intercom_status
        order by update_time desc
    </select>


</mapper>