<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.AliasMapper">
    <resultMap id="AliasResult" type="com.qtec.unicom.pojo.Alias">
        <result property="keyId" column="key_id"/>
        <result property="aliasName" column="alias_name"/>
        <result property="creator" column="creator"/>
        <result property="owner" column="owner"/>
    </resultMap>

    <sql id="MAIN_COLUMN">
        key_id,alias_name,creator,owner
    </sql>

    <insert id="addAlias" parameterType="com.qtec.unicom.pojo.Alias">
        insert into t_key_alias (key_id,alias_name,creator,owner)
             values(#{alias.keyId},#{alias.aliasName},#{alias.creator},#{alias.owner})
    </insert>
    <update id="updateAlias" parameterType="com.qtec.unicom.pojo.Alias">
        update t_key_alias set key_id = #{alias.keyId}
        where alias_name = #{alias.aliasName}
    </update>
    <delete id="deleteAlias" parameterType="String">
        delete from t_key_alias where alias_name = #{aliasName}
    </delete>
    <select id="getAlias"  parameterType="String" resultMap="AliasResult">
        select <include refid="MAIN_COLUMN" />
        from t_key_alias  where alias_name = #{aliasName}
    </select>
    <select id="listAlias" parameterType="com.qtec.unicom.pojo.Alias" resultMap="AliasResult">
        select <include refid="MAIN_COLUMN" />
        from t_key_alias  k where 1 =1
        <if test="alias.owner != null"> and owner like concat('%',#{alias.owner},'%') </if>
        <if test="alias.keyId != null"> and key_id like concat(#{alias.keyId},'%') </if>
    </select>

</mapper>




