<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.KeyVersionMapper">
    <resultMap id="KeyVersionResult" type="com.cucc.unicom.pojo.KeyVersion">
        <result property="keyId" column="key_id"/>
        <result property="keyVersionId" column="key_version_id"/>
        <result property="creationDate" column="creation_date"/>
        <result property="keyData" column="key_data"/>
        <result property="priKeyData" column="pri_key_data"/>
        <result property="pubKeyData" column="pub_key_data"/>
        <result property="creator" column="creator"/>
        <result property="cardIndex" column="card_index"/>
    </resultMap>
    <sql id="MAIN_COLUMN">
        key_id,key_version_id,creation_date,key_data,creator,pri_key_data,pub_key_data,card_index
    </sql>
    <select id="getKeyVersion" resultMap="KeyVersionResult" parameterType="KeyVersion">
        select <include refid="MAIN_COLUMN" /> from t_key_version where key_id = #{keyVersion.keyId}
        <if test="keyVersion.keyVersionId != null and keyVersion.keyVersionId != ''">
            AND key_version_id= #{keyVersion.keyVersionId}
        </if>
    </select>
    <insert id="addKeyVersion" parameterType="KeyVersion">
        insert into t_key_version (key_id,key_version_id,key_data,pri_key_data,pub_key_data,creator,card_index)
             values(#{keyVersion.keyId},#{keyVersion.keyVersionId},#{keyVersion.keyData},
             #{keyVersion.priKeyData},#{keyVersion.pubKeyData},#{keyVersion.creator},#{keyVersion.cardIndex})
    </insert>
    <select id="listKeyVersion" resultType="com.cucc.unicom.pojo.dto.KeyVersionDTO" parameterType="KeyVersion">
        select  key_id,key_version_id,creation_date from t_key_version where key_id = #{keyVersion.keyId}
    </select>
    <update id="updateKeyVersionCardIndex" parameterType="KeyVersion">
        update t_key_version set card_index = #{keyVersion.cardIndex}
        where key_id = #{keyVersion.keyId}
    </update>
    <delete id="deleteKeyVersion" parameterType="String">
        delete from t_key_version
        where key_id = #{keyId}
    </delete>
</mapper>




