<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucc.unicom.mapper.MaterialMapper">
    <resultMap id="MaterialResult" type="com.cucc.unicom.pojo.Material">
        <result property="keyId" column="key_id"/>
        <result property="keyMaterialExpireUnix" column="key_material_expire_unix"/>
        <result property="encryptedKeyMaterial" column="encrypted_key_material"/>
        <result property="wrappingAlgorithm" column="wrapping_algorithm"/>
        <result property="wrappingKeySpec" column="wrapping_key_spec"/>
        <result property="publicKey" column="public_key"/>


    </resultMap>
    <sql id="MATERIAL_COLUMN">
        key_id,key_material_expire_unix,encrypted_key_material,wrapping_algorithm,wrapping_key_spec,public_key
    </sql>
    <insert id="addMaterial" parameterType="Material">
        insert into t_material (key_id,key_material_expire_unix,encrypted_key_material,wrapping_algorithm,wrapping_key_spec,public_key)
             values(#{material.keyId},#{material.keyMaterialExpireUnix},#{material.encryptedKeyMaterial}
             ,#{material.wrappingAlgorithm},#{material.wrappingKeySpec},#{material.publicKey})
    </insert>
    <delete id="deleteMaterial" parameterType="Material">
        delete from t_material where key_id = #{material.keyId}
    </delete>
    <select id="selectMaterial" resultMap="MaterialResult">
        select <include refid="MATERIAL_COLUMN" /> from t_material where key_id = #{keyId}
    </select>
    <update id="updateMaterial" parameterType="Material">
        update t_material set encrypted_key_material = #{material.encryptedKeyMaterial}
                                ,key_material_expire_unix = #{material.keyMaterialExpireUnix}
        where key_id = #{material.keyId}
    </update>
</mapper>




