<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.KeyMapper">

    <select id="getKey" resultType="com.qtec.unicom.pojo.Key">
        select p.key_spec keySpec,p.primary_key_version versionId,p.arn,p.origin,p.owner,v.card_index cardIndex
        from t_primary_key p right join t_key_version v on p.key_id = v.key_id where p.key_id = #{keyId}
    </select>

</mapper>




