<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtec.unicom.mapper.SecretMapper">
    <resultMap id="SecretResult" type="com.qtec.unicom.pojo.Secret">
        <result property="secretData" column="secret_data"/>
        <result property="secretName" column="secret_name"/>
        <result property="versionId" column="version_id"/>
        <result property="secretDataType" column="secret_data_type"/>
        <result property="description" column="description"/>
        <result property="plannedDeleteTime" column="planned_delete_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="encryptionKeyId" column="encryption_key_id"/>
        <result property="creator" column="creator" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="SECRET_COLUMN">
        secret_data,secret_name,version_id,secret_data_type,description,planned_delete_time,encryption_key_id,creator,create_time,update_time
    </sql>

    <insert id="createSecret" parameterType="Secret">
        insert into t_secret (secret_data,secret_name,version_id,encryption_key_id,secret_data_type,description,creator)
        values (#{secret.secretData},#{secret.secretName},#{secret.versionId},#{secret.encryptionKeyId},#{secret.secretDataType},
        #{secret.description},#{secret.creator})
    </insert>

    <update id="deleteSecrets" parameterType="Secret">
        update t_secret set planned_delete_time = #{secret.plannedDeleteTime},update_time = #{secret.updateTime}
        where secret_name = #{secret.secretName} and version_id = #{secret.versionId}
    </update>
    <delete id="deleteSecretsTrue" parameterType="Secret">
        delete from t_secret where secret_name = #{secret.secretName} and version_id = #{secret.versionId}
    </delete>

    <select id="describeSecret" resultMap="SecretResult" parameterType="Secret">
        select <include refid="SECRET_COLUMN"></include> from t_secret
        where secret_name = #{secret.secretName} order by id desc limit 1
    </select>

    <select id="getSecretValue" resultMap="SecretResult" parameterType="Secret">
        select <include refid="SECRET_COLUMN"></include> from t_secret
        where secret_name = #{secret.secretName}
        <if test="secret.versionId != null">and version_id = #{secret.versionId}</if>
        <if test="secret.versionId == null">order by id desc limit 1</if>
    </select>

    <update id="updateSecret" parameterType="Secret">
        update t_secret set description=#{secret.description},update_time = #{secret.updateTime}
        where secret_name=#{secret.secretName} order by id desc limit 1
    </update>

    <update id="restoreSecret" parameterType="Secret">
        update t_secret set planned_delete_time=null,update_time=#{secret.updateTime}
        where secret_name=#{secret.secretName} and version_id = #{secret.versionId}
    </update>

    <select id="listSecretVersionIds" resultMap="SecretResult" parameterType="Secret">
        select version_id,planned_delete_time,create_time from t_secret where secret_name = #{secret.secretName}
    </select>

    <select id="listSecrets" resultMap="SecretResult">
        select secret_name,create_time,update_time,planned_delete_time from t_secret where creator like #{creator} group by secret_name order by id
    </select>

    <select id="getSecretByVersionId" resultMap="SecretResult">
        select secret_name,secret_data,version_id from t_secret
        where secret_name=#{secret.secretName} and version_id=#{secret.versionId}
    </select>
    <insert id="putSecretValue" parameterType="Secret">
    insert into t_secret(secret_name,secret_data,version_id,secret_data_type,creator,encryption_key_id)
    values(#{secret.secretName},#{secret.secretData},#{secret.versionId},#{secret.secretDataType},#{secret.creator},
        (select t.encryption_key_id from(select encryption_key_id from t_secret where secret_name=#{secret.secretName} order by id desc limit 1)t))
    </insert>

    <delete id="autoDeleteSecret"  parameterType="Date">
        delete from t_secret where  planned_delete_time  <![CDATA[<]]>  #{now,jdbcType=TIMESTAMP}
    </delete>

</mapper>




